/* Global styles */
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  text-decoration: none; 
  margin: 0;
  padding: 0;
}
a {
  color: #000;  
}
button {
  cursor: pointer;
  background-color: white;
  outline: none;
  border: none;
}
/* Telas grandes */
@media screen and (min-width: 1601px) {
  body {
    font-size: 24px;
  }
  .news-container {
    margin-bottom: 70px ;
  }
}
/* Desktop styles telas médias */
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    font-size: 22px;
  }
  .news-container {
    margin-bottom: 50px ;
  }
}
/* Desktop styles padrão*/
@media screen and (min-width: 962px) and (max-width: 1024px) {
  body {
    font-size: 20px;
  }
  .news-container {
    margin-bottom: 45px ;
  }
}
/* Desktop styles telas pequenas */
@media screen and (min-width: 769px) and (max-width: 960px) {
  body {
    font-size: 18px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
}

/* Tablet styles */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
  
}
/* Smartphone styles */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #000c005b;
    width: 100%;
    max-height: 100px;
    z-index: 99;
    overflow: hidden;
  }
  .ico-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .logo {
    width: 150px;
  }
  .ico {
    width: 40px;
  }
  .ico-menu {
    border: 1px solid #000c005b;
  }
  .homer-container {
    display: flex;
    flex-direction: column;
    width: 99%;
  }
  .news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px ;
    box-shadow: 1px 1px 5px 1px #0000004d;
    width: 80%;
    gap: 10px;
  }
  .card-container {
    margin-top: 110px;
    max-height: 85vh;
    overflow-y: scroll;
  }
}
.intro {
  text-align: justify;
  padding: 10px;
}
.date {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #000c005b;
}
.favorite-mark-and-share-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 40px ;
  max-height: 50px;
  width: 60%;
}
.favorite-mark-and-share {
  width: 25px;
}
