@media screen and (min-width: 1601px) {
  body {
    font-size: 24px;
  }
  .news-container {
    margin-bottom: 70px ;
  }

  img {
    width: 50%;
  }
  
}
/* Desktop styles telas médias */
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    font-size: 22px;
  }
  .news-container {
    margin-bottom: 50px ;
  }

  img {
    width: 40%;
  }
  
}
/* Desktop styles telas padrão*/
@media screen and (min-width: 962px) and (max-width: 1024px) {
  body {
    font-size: 20px;
  }
  .news-container {
    margin-bottom: 45px ;
  }
  img {
    width: 30%;
  }
  
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  body {
    font-size: 18px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
  img {
    width: 20%;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
  img {
    width: 10%;
  }
  
}

.favorite-mark-and-share {
  width: 25px;
}

.date-time {
  color: rgba(0, 0, 0, 0.7);
}

.filter {
  width: 20%;
}
.filter img {
  width: 20px;
}
.display-footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 5vh;
  right: 0;
  width: 33%;
  height: 25vh;
  background-color: #000c001f;
  z-index: 99;
  gap: 3px;
}
.display-footer-menu button {
  width: 80%;
  height: 3vh;
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}
.title-display-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.589);
  color: rgb(0, 109, 0);
  height: 4vh;
  width: 80%;
  border-radius: 5px;
}
.title-display-menu h3 {
  font-size: 16px;
}
.filtred-btn {
  background-color: rgb(0, 160, 0) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border: none !important;
}
.search-date {
  background-color: rgba(255, 255, 255, 0.925);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 25%;
  top: 35%;
  border: 1px solid #000c005b;
  width: 50%;
  height: 30vh;
  z-index: 999;
}
.inputs-search-date {
  display: flex;
  flex-direction: column;  
  font-size: 14px;
  width: 80%;
  height: 50px;
  gap: 5px;
}
.inputs-search-date input {
  text-align: center;
  width: 100%;
  height: 4vh;
}
.search-date-btn {
  background-color: rgb(0, 150, 50);
  color: white;
  width: 50%;
  height: 4vh;
  font-size: 16px;
  cursor: pointer;
}
.close {
  background-color: rgba(0, 0, 0, 0.171);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 20px;
  height: 20px;
  top: 35%;
  right: 25%;
}
.erro-msg-date {
  text-align: center;
  display: flex;
  width: 100%;
  color: red;
  font-size: 14px;
}
.error-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80vh;
  gap: 10px;
}

.filter-btn {
  font-size: 13px;
  font-weight: 600;
  width: 19%;
  border: none;
  background-color: #cccccc4f ;
  color: rgb(100, 100, 100);
  border-radius: 5px;
  cursor: pointer;
}
.filtred-btn-top {
  background-color: rgb(0, 160, 0) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border: none !important;
}

.menu-header-container 
.register-container {
  background-image: URL('src/assets/bnLogo.png');
  display: flex;
  flex-direction: column;
  margin: auto;
  width:100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.925);
}
.register-container form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(100, 155, 200, 1);
  justify-content: center;
  border-radius: 7px;
  font-size: 16px;
  width: 88%;
  margin: auto;
  margin-top: 50px;
  height: 70%;
  gap: 5px;
}
.msg-err-register {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  width: 80%;
  top: 71%;
}
.isRegisted {
  position: fixed;
  top: 50%;
  left: 15%;
}
.erro-to-register {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 52.5%;
  left: 15%;
  color: red;
}
.sem-foto-registro {
  position: fixed;
  width: 150px;
  top: 10%;
  left: 30%;
}
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 10px;
}
.form-page input{
  text-indent: 10px;
  width: 100%;
  height: 3.5vh;
  outline: none;
}
.form-register {
  position: fixed;
  top: 80vh;
  display: flex;
  justify-content: space-between;
  width: 64%;
  height: 7vh;
  gap: 5px;
}
.form-pic p {
  text-align: center;
  font-size: 16px;
}
.btn-next-and-prev-register, .btn-next-and-prev-register-prev{
  margin: auto;
  background-color: rgb(0, 150, 0);
  width: 50%;
  height: 4vh;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  bottom: 0;
}
.btn-home-form-register-container {
  position: fixed;
  top: 8%;
  left: 8%;
  width: 87%;
  color: black;
  font-size: 16px;
}
.btn-home-form-register {
  width: 20%;
  height: 3vh;
  margin-top: 1px;
  font-size: 14px;
  color: darkgreen;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid blue;
}
.logo-register {
  position: fixed;
  top: 8%;
  right:6%;
  width: 25%;
  height: 10%;
}
.btn-form-register {
  position: fixed;
  background-color: rgb(0, 150, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  top: 70vh;
  right: 25%;
  width: 50%;
  height: 4vh;
  gap: 5px;
}
.btn-next-and-prev-register-active {
  background-color: rgb(200, 0, 0);
}
.have-account {
  background-color: rgb(179, 179, 179);
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 7vh;
  bottom: 0;
  font-size: 17px;
}
.have-account button  {
  background-color: rgb(0, 50, 255);
  width: 30%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container {
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.profile-data {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.profile-card-container img {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 5px 1px #0000004d;
  width: 90%;
  border-radius: 5px;
}
.card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  font-size: 14px;
  font-weight: 600;
}
.card-name button {
  background-color: rgb(100, 100, 100);
  width: 20%;
  height: 4vh;
  font-size: 12px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.address-info-container {
  background-color: rgb(124, 124, 124, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 46vh;
  gap: 10px;
}
.address-info-container h3 {
  text-align: start;
  margin: 0;
  margin-top: 10px;
}
.address-info-container p {
  text-indent: 10px;
  display: flex;
  align-items: center;
  text-align: start;
  background-color: #ccc;
  height: 4vh;
  gap: 10px;
}
.profile-footer-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 4vh;
}
.profile-footer-btn button {
  background-color: rgb(0, 150, 50);
  width: 35%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  color: red;
  font-size: 14px;
}
.erro-msg-profile-logout-btn {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout-btn button {
  background-color: rgb(0, 150, 50);
  width: 35%;
  height: 4vh;
  font-size: 16px;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout span {
  color: green;
}
.erro-msg-profile-logout-btn-home {
  background-color: rgb(0, 50, 150);
  width: 25%;
  height: 4vh;
  font-size: 16px;
  margin-top: 50px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.edit-profile-container {
  width: 100%;
  height: 100vh;
}
.edit-profile-data {
  width: 90%;
  margin: auto;
}
.edit-profile-data form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  box-shadow: 1px 1px 5px 1px #0000004d;
  border-radius: 8px;
  width: 100%;
  gap: 5px;
}
.edit-profile-data form input {
  display: flex;
  flex-direction: column;
  text-indent: 10px;
  width: 80%;
  height: 3.5vh;
  outline: none;
  margin-top: 1px;
  margin-bottom: 10px;
}
.edit-profile-data h3, .edit-profile-data h4 {
  text-align: start;
  margin: 10px 0;
}
.salve-cancel-edit-btn {
  display: flex;
  justify-content: space-around;
  align-items: top;
  margin-top: 20px;
  width: 100%;
  height: 9vh;
}
.salve-cancel-edit-btn button {
  background-color: rgb(0, 150, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.cancel-edit-btn {
  background-color: rgb(200, 0, 0) !important;
}
.show-pass-btn {
  height: 3vh;
  width: 30%;
  font-size: 14px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: rgb(107, 107, 107) !important;
}
.btn-login-header {
  background-color: rgb(0, 150, 50) !important;
  color: white !important;
}
.confirma-senha-cont {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 97% !important;
}
.confirma-senha {
  margin: auto !important;
  margin-left: 0 !important;
  width: 52% !important;
}
