@media screen and (min-width: 1601px) {
  body {
    font-size: 24px;
  }
  .news-container {
    margin-bottom: 70px ;
  }

  img {
    width: 50%;
  }
  
}
/* Desktop styles telas médias */
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    font-size: 22px;
  }
  .news-container {
    margin-bottom: 50px ;
  }

  img {
    width: 40%;
  }
  
}
/* Desktop styles telas padrão*/
@media screen and (min-width: 962px) and (max-width: 1024px) {
  body {
    font-size: 20px;
  }
  .news-container {
    margin-bottom: 45px ;
  }
  img {
    width: 30%;
  }
  
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  body {
    font-size: 18px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
  img {
    width: 20%;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .news-container {
    margin-bottom: 40px ;
  }
  img {
    width: 10%;
  }
  
}

.error-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80vh;
  gap: 10px;
}


.profile-container {
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.profile-data {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.profile-card-container img {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 5px 1px #0000004d;
  width: 90%;
  border-radius: 5px;
}
.card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  font-size: 14px;
  font-weight: 600;
}
.card-name button {
  background-color: rgb(100, 100, 100);
  width: 20%;
  height: 4vh;
  font-size: 12px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.address-info-container {
  background-color: rgb(124, 124, 124, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 46vh;
  gap: 10px;
}
.address-info-container h3 {
  text-align: start;
  margin: 0;
  margin-top: 10px;
}
.address-info-container p {
  text-indent: 10px;
  display: flex;
  align-items: center;
  text-align: start;
  background-color: #ccc;
  height: 4vh;
  gap: 10px;
}
.profile-footer-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 4vh;
}
.profile-footer-btn button {
  background-color: rgb(0, 150, 50);
  width: 35%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  color: red;
  font-size: 14px;
}
.erro-msg-profile-logout-btn {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 4vh;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout-btn button {
  background-color: rgb(0, 150, 50);
  width: 35%;
  height: 4vh;
  font-size: 16px;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
.erro-msg-profile-logout span {
  color: green;
}
.erro-msg-profile-logout-btn-home {
  background-color: rgb(0, 50, 150);
  width: 25%;
  height: 4vh;
  font-size: 16px;
  margin-top: 50px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.btn-login-header {
  background-color: rgb(0, 150, 50) !important;
  color: white !important;
}
.confirma-senha-cont {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 97% !important;
}
.confirma-senha {
  margin: auto !important;
  margin-left: 0 !important;
  width: 52% !important;
}
