/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: #fff;
}
ul {
  list-style: none;
}
h3 {
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.logoutBtn {
  background-color: var(--red-500) !important;
  color: var(--white) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.loginBtn {
  background-color: var(--green-600) !important;
  color: var(--white) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.home-btn {
  background-color: var(--green-600);
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  height: 4vh;
  border-radius: 5px;
}
.filtred-btn {
  background-color: var(--green-600) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border: none !important;
}
.filtred-btn-top {
  background-color: var(--green-600) !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  border: none !important;
}
.date-time {
  color: rgba(0, 0, 0, 0.7);
}

.favorite-mark-and-share {
  width: 25px;
}
.inativeBtn {
  background-color: var(--gray-300) !important;
}

:root {
  --white: #fff;
  --black-opacity-05: rgba(0, 0, 0, 0.5);
  --gray-300:rgb(100, 100, 100);
  --gray-400-02: rgba(124, 124, 124, 0.2);
  --gray-200: rgb(230, 230, 230);
  --green-500: rgb(0, 150, 50);
  --green-600: rgb(0, 150, 0);
  --green-700: rgb(0, 100, 0);
  --green-900-05: #000c0050;
  --blue-400: rgb(0, 10, 150);
  --red: rgb(255, 0, 0);
  --red-500: rgb(200, 10, 0);
}
/* End Global Styles */